STRIPE_SECRET_KEY=sk_test_......
STRIPE_ONE_TIME_PAYMENT_PRICE_ID=price_1RJJwjR1b4cWtS0UCIDTSU3V
STRIPE_SUBSCRIPTION_PRICE_ID=price_1RJJwjR1bGyW9S0UCIDTSU3V
STRIPE_USAGE_BASED_SUBSCRIPTION_PRICE_ID=price_1RJdGWR1bGyW9S0UucbYBFBZ